# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist.zip
dist
dist-ssr
*.local

# Backend build artifacts & local db
backend/target
backend/*.db
backend/*.db-journal
backend/.idea
backend/.mvn
backend/mvnw
backend/mvnw.cmd


.history
backend/backend.tar.gz
*.tar.gz

# Secrets
.env
.env.local
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
